/*======================================
Global Styles
======================================*/
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.75;
}

.theme-wrapper {
	width: 1447px;
	margin: 20px auto;
}

.is-flex {
	display: flex;
}

.is-half-flex {
	flex-basis: 50%;
	max-width: 50%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*======================================
Header
======================================*/
.header {
	padding: 20px 0;
	width: 100%;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 10;
}

.header .content-wrap {
	width: 1440px;
	margin: 0 auto;
}

.logo-wrap {
	padding-left: 160px;
	padding-right: 160px;
}

.logo-wrap img{
	width: 120px;
}

/*======================================
Global Navigation
======================================*/
.gn {
	display: flex;
	align-items: center;
  	justify-content: center;
	padding-right: 160px;
}

.gn ul{
	align-items: center;
  	justify-content: center;
}

.gn li{
	padding: 0 20px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.gn a{
	color: black;
}

.icon-wrap {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-wrap li{
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-icon img {
	width: 50%;
}
/*======================================
Basic-info
=====================================*/
.bnr {
	width: 100%;
	height: 375px;
	background-image: url('../img/intro/home-bnr.jpg');
	background-repeat: no-repeat;
	background-position: contain;
}

.basic-info {
	background: #022859;
	padding-left: 160px;
	font-weight: 300;
}

.top{
	padding-bottom: 100px;
}

.top h1 {
	padding-top: 60px;
	font-size: 100px;
	line-height: 1;
	color: #F2B28D;
}

.bnr-content {
	padding: 0;
	padding-bottom: 60px;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
	color: white;
}

/*======================================
Section 
=====================================*/
.section-wrapper {
	padding: 60px 160px 30px 160px;
}

.section-wrapper:nth-child(odd) {
	background: white;
}

.section-wrap {
	margin: 100px;
}

.section-title {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 50px;
	color: #022859;
	text-transform: uppercase;
	text-align: center;
}

/*======================================
Intro
=====================================*/
#bestitem a {
	color: black;
}

.best-item-wrap {
	display: flex;
	justify-content: space-evenly;
}

#bestitem {
	padding-bottom: 100px;
}

.bnr-text {
	padding-left: 20px;
}

.section-content {
	text-align: justify;
}

.content-wide-box {
	display: flex;
	align-items: center;
	margin: 100px;
}

/*======================================
Item contents box
=====================================*/
.content-box {
	content: "";
	width: 100%;
	height: 500px;
	justify-content: space-around;
	background-color: rgba(196, 196, 196, 0.808);
	border-radius: 5px;
	margin: 0 5px;
	display: flex;
	position: relative;
}

.box-description {
	content: "";
	background-color: rgba(196, 196, 196, 0.808);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
	height: 78px;
	position: relative;
	margin-top: auto;
	padding: 3px 10px;
}

.box-description p{
	font-size: 14px;
}

/*======================================
About
=====================================*/
#aboutUsSection {
	justify-content: space-between;
}

#aboutus-item-categories{
	width: 100%;
	margin-bottom: 70px;
	display: flex;
	justify-content: center;
}

#aboutus-item-categories a {
	color: black;
}

#item-categories-list {
	width: 30%;
	display: flex;
	justify-content: space-between;
}

.place-holder {
	margin: 30px 0;
	width: 100%;
	height: 300px;
}

.place-holder-half {
	margin: 0 10px 10px 20px;
	background-image: url("../img/about/about-us-page-pic.jpg");
}
/*======================================
Shop-side-nav
=====================================*/
.side-nav {
	height: 100%;
	width: 160px;
	padding-top: 8vh;
}

.categories {
	padding-bottom: 4vh;
}

.menu-title {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgb(92, 92, 92);
}

.side-nav a{
	line-height: 1.6;
	font-size: 14px;
	color: #022859;
}

/*======================================
Shop
=====================================*/
.box-description {
	content: "";
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
	height: 78px;
	position: relative;
	margin-top: auto;
}

.box-description p{
	font-size: 14px;
}

#item-categories{
	width: 100%;
	margin-bottom: 20px;
}

#item-categories a {
	color: black;
}

#item-categories a:hover {
	text-decoration: underline;
	color: black;
}

#item-description-main {
	width: 60%;
}

.item-image {
	width: 100%;
	height: 70vh;
}

.item-description {
	margin: 60px 0;
	background-color:bisque;
	padding: 25px 20px;
}

.main-description {
	font-size: 24px;
	margin-bottom: 25px;
	font-family: 'Lora', serif;
}

.description {
	font-size: 14px;
}

.recommend {
	width: 100%;
	height: 60vh;
}

.recommend-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.recommend-img {
	width: 50vw;
	height: 60vh;
}

#item-order-detail {
	width: 40vw;
	margin-left: 2vw;
	position: relative;
}

.item-detail-main {
	position: fixed;
	margin: 20px 20px;
	background-color: white;
}

.item-detail-main h2{
	font-family: 'Lora', serif;
	font-size: 28px;
	font-weight: 300;
	margin: 20px 0;
}

#favorite {
	position: absolute;
	right: 0;
	width: 1vw;
	height: 2vh;
	background-color: red;
	border: 2px solid rosybrown;
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 48%);
}

#price {
	font-size: 20px;
	margin-bottom: 10px;
}

#add-btn {
	margin: 20px 0;
}

#add-btn a{
	text-decoration: none;
	display: block;
	padding: 10px 0px;
	background: #022859;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.notice {
	font-size: 14px;
	text-align: center;
}

/*======================================
Donate
=====================================*/

.text-bold {
	font-weight: 800;
}

.donate-list {
	padding-left: 40px;
}

.donate-list li:before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  	color: black; /* Change the color */
	display: inline-block;
	width: 1em;
}

/*======================================
Contact
=====================================*/
.contact-map {
	width: 50%;
	height: 660px;
}

.sendMessage {
	padding-left: 20px;
}

.contact-form input{
	display: block;
	height: 36px;
	width: 100%;
	border: 1px solid #022859;
	border-radius: 20px;
	padding: 10px;
	font-size: 14px;
}

.contact-form textarea{
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: gray;
	border: 1px solid #022859;
	border-radius: 5px;
	padding: 10px;
}

.contact-form label{
	text-align: left;
	display: block;
	padding-top: 18px;
	color: #022859;
	font-weight: 600;
	font-size: 14px;
}

#submit-btn {
	background-color: #022859;
	color: white;
	width: auto;
	padding: 10px 30px;
	margin: 10px;
}

.btn-wrapper {
	justify-content: flex-end;
}

.contact-info {
	display: block;
}

.contact-info h3 {
	font-size: 26px;
}

.contact-info a {
	color: black;
}

.contact-info address{
	text-decoration: none;
}

/*======================================
Image
=====================================*/
#top1 {
	background-image: url("../img/productshot/top-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}


#top2 {
	background-image: url("../img/productshot/top-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#top3 {
	background-image: url("../img/productshot/top-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#top4 {
	background-image: url("../img/productshot/top-4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom1 {
	background-image: url("../img/productshot/bottom-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom2 {
	background-image: url("../img/productshot/bottom-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom3 {
	background-image: url("../img/productshot/bottom-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom4 {
	background-image: url("../img/productshot/bottom-4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#about-bnr {
	background-image: url("../img/about/about-us-banner.jpg");
}

#about-img {
	background-image: url("../img/about/about-us-page-pic.jpg");
}

#about-sustainability {
	background-image: url("../img/about/sustain-bnr.jpg");
}

#contact-bnr {
	background-image: url("../img/contact/contact-bnr.jpg");
}

#donate-bnr {
	background-image: url("../img/donate/Donate-bnr.jpg");
}


/*======================================
Footer
=====================================*/
.ftr {
	padding: 60px 160px 30px 160px;
	background: #F2F2F2;
	margin: 20px auto;
	text-align: center;
}

.ftr-section {
	display: flex;
}

.ftr-list {
	margin:0 30px;
	width: 20%;
	text-align: left;
	
}

.ftr-list a{
	text-transform: none;
	color: #022859;
}

.intouch {
	text-align: left;
	font-size: 24px;
	padding-bottom: 24px;
}

.ftr-newsletter {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: flex-end;
	margin-right: 60px;
}

#semail {
	width: 335px;
	margin: 10px 0;
	border: 0;
	background: #F2F2F2;
	border-bottom: 1px solid #022859;
}

#save {
	border: 0;
	font-weight: 500;
	color: gray;
}

.copyright {
	margin-top: 50px;
}