/*======================================
Global Styles
======================================*/
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.75;
}

.theme-wrapper {
	width: 1447px;
	margin: 20px auto;
}

.is-flex {
	display: flex;
}

.is-half-flex {
	flex-basis: 50%;
	max-width: 50%;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/*======================================
Header
======================================*/
.header {
	padding: 20px 0;
	width: 100%;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 10;
}

.header .content-wrap {
	width: 1440px;
	margin: 0 auto;
}

.logo-wrap {
	padding-left: 160px;
	padding-right: 160px;
}

.logo-wrap img{
	width: 120px;
}

/*======================================
Global Navigation
======================================*/
.gn {
	display: flex;
	align-items: center;
  	justify-content: center;
	padding-right: 160px;
}

.gn ul{
	align-items: center;
  	justify-content: center;
}

.gn li{
	padding: 0 20px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.gn a{
	color: black;
}

.icon-wrap {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-wrap li{
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-icon img {
	width: 50%;
}
/*======================================
Shop-side-nav
=====================================*/
.side-nav {
	height: 100%;
	width: 160px;
	padding-top: 8vh;
}

.categories {
	padding-bottom: 4vh;
}

.menu-title {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgb(92, 92, 92);
}

.side-nav a{
	line-height: 1.6;
	font-size: 14px;
	color: #022859;
}
/*======================================
Basic-info
=====================================*/
.info-wrapper {
	text-align: center;
	margin: 0 auto;
	margin-top: 60px;
	font-weight: 300;
	background-color: #F2B28D;
	padding: 10px;
	width: 80%;
}

.top{
	padding-bottom: 40px;
	display: inline-block;
}

.top h1 {
	font-size: 50px;
	line-height: 1;
	color: gray;
	padding-top: 10px;
}

.bnr {
	margin: 50px 50px;
	width: 100%;
	height: 375px;
	background-image: url('../img/intro/home-bnr.jpg');
	background-repeat: no-repeat;
	background-position: contain;
}

.bnr-content {
	padding: 0;
	padding-bottom: 20px;
	width: 1000px;
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	align-items: flex-start;
	color: white;
}

/*======================================
Section 
=====================================*/
.shop-content {
	width: 100%;
}

.section-wrapper {
	padding: 60px 140px 30px 140px;
	background: white; 
	margin-bottom: 30px;
}

.section-wrapper:nth-child(odd) {
	background: white;
}

.section-title {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 50px;
	color: #022859;
	text-transform: uppercase;
	text-align: center;
}

.section-content-wrap {
	display: flex;
	justify-content: space-evenly;
}

#menu1 {
	padding-bottom: 100px;
}

.content-box {
	content: "";
	width: 25%;
	height: 500px;
	justify-content: space-around;
	background-color: rgba(196, 196, 196, 0.808);
	border-radius: 5px;
	margin: 0 5px;
	display: flex;
	position: relative;
}

/*======================================
Shop
=====================================*/
.box-description {
	content: "";
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 100%;
	height: 78px;
	position: relative;
	margin-top: auto;
}

.box-description p{
	font-size: 14px;
}

#item-categories{
	width: 100%;
	margin-bottom: 20px;
}

#item-categories a {
	color: black;
}

#item-categories a:hover {
	text-decoration: underline;
	color: black;
}

#item-description-main {
	width: 60%;
}

.item-image {
	width: 100%;
	height: 70vh;
}

.item-description {
	margin: 60px 0;
	background-color:bisque;
	padding: 25px 20px;
}

.main-description {
	font-size: 24px;
	margin-bottom: 25px;
	font-family: 'Lora', serif;
}

.description {
	font-size: 14px;
}

.recommend {
	width: 100%;
	height: 60vh;
}

.recommend-title {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 10px;
}

.recommend-img {
	width: 50vw;
	height: 60vh;
}

#item-order-detail {
	width: 40vw;
	margin-left: 2vw;
	position: relative;
}

.item-detail-main {
	position: fixed;
	margin: 20px 20px;
	background-color: white;
}

.item-detail-main h2{
	font-family: 'Lora', serif;
	font-size: 28px;
	font-weight: 300;
	margin: 20px 0;
}

#top a{
	color: black;
}

#favorite {
	position: absolute;
	right: 0;
	width: 1vw;
	height: 2vh;
	background-color: red;
	border: 2px solid rosybrown;
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 48%);
}

#price {
	font-size: 20px;
	margin-bottom: 10px;
}

#add-btn {
	margin: 20px 0;
}

#add-btn a{
	text-decoration: none;
	display: block;
	padding: 10px 0px;
	background: #022859;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.notice {
	font-size: 14px;
	text-align: center;
}

#top1 {
	background-image: url("../img/productshot/top-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#top2 {
	background-image: url("../img/productshot/top-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#top3 {
	background-image: url("../img/productshot/top-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#top4 {
	background-image: url("../img/productshot/top-4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom1 {
	background-image: url("../img/productshot/bottom-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom2 {
	background-image: url("../img/productshot/bottom-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom3 {
	background-image: url("../img/productshot/bottom-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#bottom4 {
	background-image: url("../img/productshot/bottom-4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#accessory1 {
	background-image: url("../img/productshot/Accessory-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#accessory2 {
	background-image: url("../img/productshot/accessory-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#accessory3 {
	background-image: url("../img/productshot/accessory-3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
}

#accessory4:hover::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 84%;
	content: "+";
	font-size: 150px;
	color: white;
	text-align: center;
	align-items: center;
	background-color: gray;
}

#page-detail h2 {
	padding-top: 60px;
	padding-left: 160px;
}

@media screen and (max-width: 1447px) {
	
	#item-description-item{
		width: 40vw;
		margin: 0;
	}

	#item-order-detail {
		width: 50vw;
		margin: 0;
	}
}

/*======================================
Footer
=====================================*/
.ftr {
	padding: 60px 160px 30px 160px;
	background: #F2F2F2;
	margin: 20px auto;
	text-align: center;
}

.ftr-section {
	display: flex;
}

.ftr-list {
	margin:0 30px;
	width: 20%;
	text-align: left;
	
}

.ftr-list a{
	text-transform: none;
	color: #022859;
}

.intouch {
	text-align: left;
	font-size: 24px;
	padding-bottom: 24px;
}

.ftr-newsletter {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: flex-end;
	margin-right: 60px;
}

#semail {
	width: 335px;
	margin: 10px 0;
	border: 0;
	background: #F2F2F2;
	border-bottom: 1px solid #022859;
}

#save {
	border: 0;
	font-weight: 500;
	color: gray;
}

.copyright {
	margin-top: 50px;
}